* {
  box-sizing: border-box;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  color: #888888;
}

#headerContainer {
  background-color: #00bb00;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  line-height: 50px;
  padding: 0 10px;
  min-width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) ;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

#projectsDropDown {
  line-height: 18px;
  position: absolute;
  right: 0;
  top: -90px;
  z-index: 8;
  background-color: rgba(200, 200, 200, 0.8);
  -webkit-transition: top 500ms;
  transition: top 500ms;
  text-align: right;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}

#projectsDropDown > hr {
  margin: 2px 10px 3px 10px;
}

#projectsDropDown > h3 {
  text-align: center;
  margin-bottom: 3px;
}

.projectLink {
  text-decoration: none;
  color: white;
}

li {
  padding: 5px 10px;
  color: whitesmoke;
}

li:hover {
  background-color: #0000cc;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#projectsDropDown:hover {
  top: 49px;
}


#pageContentContainer {
  clear: both;
  min-width: 300px;
}

.innerContainer {
  background-color: #C0FFEE;
  width: 85%;
  height: 75%;
  max-height: 600px;
  margin: 0 auto;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  padding: 20px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}

.innerContainer > hr {
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}

#sectionAbout {
  background-color: #5e7f7e;
}

#bioPic {
  max-height: 400px;
  height: 60%;
  margin: 0 20px;
  border-radius: 3px;
}

#sectionProject1 {
  background-color: green;
}


.innerContainer > h2 {
  font-size: 24px;
}

#sectionProject2 {
  background-color: #242bb3;
}

#sectionProject3 {
  background-color: #761c19;
}

#sectionProject4 {
  background-color: #C0FFEE;
}

#sectionProject5 {
  background-color: #3a87ad;
}

/*FOOTER CONNECT WITH ME*/
#contactLinksContainer {
  min-width: 196px;
  background-color: rgba(200, 200, 200, 0.8);
  display: inline-block;
  padding: 5px 10px;
  z-index: 9;
  position: fixed;
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid rgb(235, 235, 235);
  -webkit-transition: bottom 500ms;
  transition: bottom 500ms;
}

#contactLinksContainer:hover {
  bottom: -3px;
}

#contactLinksContainer > h3 {
  text-align: center;
}

#contactLinksContainer > hr {
  margin-top: 0;
  margin-bottom: 4px;
}

.logoLink {
  text-decoration: none;
  margin: 0 5px;
}

/*=================================Header Section Items=====================================*/



/*!*=================================Media Queries=====================================*!*/

/*@media only screen and (max-width: 980px) {*/

  /*#header {*/
    /*max-width: 960px;*/
  /*}*/
  /*#contentContainer {*/
    /*margin: 0 15px;*/
  /*}*/
/*}*/

/*@media only screen and (max-width: 768px) {*/

  /*#header {*/
    /*width: 100%;*/
  /*}*/
  /*.mainBodyContainer {*/
    /*width: 100%;*/
    /*float: none;*/
    /*max-width: none;*/
  /*}*/
  /*#connectWithMeContainer {*/
    /*width: 100%;*/
    /*float: none;*/
    /*max-width: none;*/
  /*}*/
  /*#logoFarm {*/
    /*width: 40%;*/
    /*min-width: 218px;*/
  /*}*/
/*}*/

/*@media only screen and (max-width: 640px) {*/

  /*#header {*/
    /*display: block;*/
  /*}*/
  /*#logoName {*/
    /*width: 100%;*/
  /*}*/
  /*#navLinkFarm {*/
    /*width: 100%;*/
  /*}*/
  /*#navLinkTable {*/
    /*width: 100%;*/
  /*}*/
  /*.mainBodyCaption{*/
    /*text-align: center;*/
  /*}*/
  /*#profilePic {*/
    /*float: none;*/
    /*margin: 0 auto 15px auto;*/
    /*position: unset;*/
    /*width: 100%;*/
  /*}*/
  /*.folioItem {*/
    /*width: 100%;*/
    /*padding: 10px 0;*/
  /*}*/
/*}*/

/*!*=================================Animation Key Frames=====================================*!*/

/*@keyframes glow {*/
  /*from {*/
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 3px 3px 18px rgba(255, 255, 255, 0.3);*/
  /*}*/
  /*to {*/
    /*box-shadow: 0 0 30px rgba(255, 235, 0, 0.7);*/
  /*}*/
/*}*/